pandas
numpy
regex
openpyxl
# for claude api. Get an api key to use here & buy some credits
anthropic

# to load the token from .env (put this in .gitignore of course!!)
dotenv

# to turn your catalogue to images
pymupdf